<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    <script src="/static/javascript2.js"></script>
    <title>Chat</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>

<div class="grid-box">
    <h1>Chatbox for <span id="name">stranger</span></h1>
    <!-- create chatrooms -->
    <div class="room-box">
        <form id="chatroom">
            <ul id="chatrooms"></ul>
            <input id="room-name" type="text">
            <input id="rsubmit" type="submit" value="GO">
        </form>
    </div>
    <!-- submit chat messages -->
    <div class="chat-box">
        <form id="chatbox">
            <input id="chatfield" type="text">
            <input id="csubmit" type="submit" value="GO">
        </form>
        <ul id="chatarea"></ul>
    </div>

</div>
</body>
</html>